body {
  list-style: none;
  font-family: Roboto, sans-serif;
  color: #000;
  background: #e5e5e5;
}
.site-nav {
  color: #212121;
}
.site-nav .link.current {
  color: 2196f3;
}
.logo {
  color: #2196f3;
  font-family: Raleway;
}
.button {
  color: aliceblue;
  background: #2196f3;
}
.link a {
  color: 2196f3;
}
